In [1]:
import pandas as pd
import numpy as np

# 加载数据集
file_path = 'movieMY.xlsx'  # 替换为您的文件路径
movie_data = pd.read_excel(file_path, sheet_name='Sheet1')

# 清洗'主/导演'列，去除'等'或'*'及其后的所有字符
movie_data['导演'] = movie_data['导演'].str.replace(r'等.*', '', regex=True)
movie_data['导演'] = movie_data['导演'].str.replace(r'\*.*', '', regex=True)
movie_data['主演'] = movie_data['主演'].str.replace(r'等.*', '', regex=True)
movie_data['主演'] = movie_data['主演'].str.replace(r'\*.*', '', regex=True)

# 显示清洗后的数据
print(movie_data)#.head()

     序号         片名    票房（亿）      上映年月日  地区  豆瓣评分                  导演  \
0     1        长津湖  57.5879 2021-09-30  中国   7.4                  吴京
1     2        战狼2  56.9454 2017-07-27  中国   7.1                  吴京
2     3     你好，李焕英  54.1308 2021-02-12  中国   7.8                  贾玲
3     4    哪吒之魔童降世  50.3570 2019-07-26  中国   8.4                  饺子
4     5       流浪地球  46.8645 2019-02-05  中国   7.9                  郭帆
..  ...        ...      ...        ...  ..   ...                 ...
95   96  哥斯拉2:怪兽之王   9.3740 2019-05-31  美国   6.3             迈克尔·道赫蒂
96   97      超时空同居   9.0307 2018-05-18  中国   6.8                  苏伦
97   98        老炮儿   9.0116 2015-12-24  中国   7.6                  管虎
98   99   阿丽塔：战斗天使   8.9693 2019-02-22  美国   7.5  罗伯特·罗德里格兹、詹姆斯·卡梅隆
99  100       绝地逃亡   8.8769 2016-07-21  中国   5.7               雷尼·哈林

                 主演
0           吴京、易烊千玺
1                吴京
2         贾玲、张小斐、沈腾
3               NaN
4        屈楚萧、吴京、李光洁
..              ...
95  维拉·法梅加、米莉·博比·布朗
96          雷佳音、佟丽娅
97          冯小刚、张涵予
98              NaN
99               成龙

[100 rows x 8 columns]

In [3]:
create_table_movie_info = '''
Create Table movie_info
( 
 movie_id varchar(10) Not Null,
 movie_name varchar(20) Not Null,
 box_office decimal(10,4),
 release_date datetime,
 country varchar(20),
 douban_rating decimal(3,1),
 year int check( year>=1000 and  year<=2100),
 primary key(movie_id)
);
'''
# 生成INSERT语句
insert_movie_info_statements = [create_table_movie_info]
for index, row in movie_data.iterrows():
    movie_id = str(index + 1)  # 假设序号即为电影ID
    movie_name = row['片名']
    box_office = row['票房（亿）']
    release_date = row['上映年月日']
    country = row['地区']
    douban_rating = row['豆瓣评分']
    year = pd.to_datetime(release_date).year  # 提取年份

    insert_movie_info_sql = f"insert into movie_info values('{movie_id}','{movie_name}',{box_office},'{release_date}','{country}',{douban_rating},{year});"
    insert_movie_info_statements.append(insert_movie_info_sql)

insert_movie_info_statements

['\nCreate Table movie_info\n( \n movie_id varchar(10) Not Null,\n movie_name varchar(20) Not Null,\n box_office decimal(10,4),\n release_date datetime,\n country varchar(20),\n douban_rating decimal(3,1),\n year int check( year>=1000 and  year<=2100),\n primary key(movie_id)\n);\n',
 "insert into movie_info values('1','长津湖',57.5879,'2021-09-30 00:00:00','中国',7.4,2021);",
 "insert into movie_info values('2','战狼2',56.9454,'2017-07-27 00:00:00','中国',7.1,2017);",
 "insert into movie_info values('3','你好，李焕英',54.1308,'2021-02-12 00:00:00','中国',7.8,2021);",
 "insert into movie_info values('4','哪吒之魔童降世',50.357,'2019-07-26 00:00:00','中国',8.4,2019);",
 "insert into movie_info values('5','流浪地球',46.8645,'2019-02-05 00:00:00','中国',7.9,2019);",
 "insert into movie_info values('6','唐人街探案3',45.2341,'2021-02-12 00:00:00','中国',5.3,2021);",
 "insert into movie_info values('7','复仇者联盟4:终局之战',42.5013,'2019-04-24 00:00:00','美国',8.5,2019);",
 "insert into movie_info values('8','红海行动',36.5163,'2018-02-16 00:00:00','中国',8.3,2018);",
 "insert into movie_info values('9','唐人街探案2',33.9777,'2018-02-16 00:00:00','中国',6.6,2018);",
 "insert into movie_info values('10','美人鱼',33.912,'2016-02-08 00:00:00','中国',6.7,2016);",
 "insert into movie_info values('11','我和我的祖国',31.6976,'2019-09-30 00:00:00','中国',7.6,2019);",
 "insert into movie_info values('12','八佰',31.1076,'2020-08-21 00:00:00','中国',7.5,2020);",
 "insert into movie_info values('13','我不是药神',31.0002,'2018-07-05 00:00:00','中国',9.0,2018);",
 "insert into movie_info values('14','中国机长',29.1266,'2019-09-30 00:00:00','中国',6.6,2019);",
 "insert into movie_info values('15','我和我的家乡',28.2973,'2021-10-01 00:00:00','中国',7.0,2021);",
 "insert into movie_info values('16','速度与激情8',26.7093,'2017-04-14 00:00:00','美国',7.0,2017);",
 "insert into movie_info values('17','西虹市首富',25.4766,'2018-07-27 00:00:00','中国',6.6,2018);",
 "insert into movie_info values('18','捉妖记',24.3623,'2015-07-16 00:00:00','中国',6.7,2015);",
 "insert into movie_info values('19','速度与激情7',24.2313,'2015-04-12 00:00:00','美国',8.4,2015);",
 "insert into movie_info values('20','复仇者联盟3:无限战争',23.9051,'2018-05-11 00:00:00','美国',8.1,2018);",
 "insert into movie_info values('21','捉妖记2',22.3723,'2018-02-16 00:00:00','中国',4.9,2018);",
 "insert into movie_info values('22','羞羞的铁拳',22.1365,'2017-09-30 00:00:00','中国',6.8,2017);",
 "insert into movie_info values('23','疯狂的外星人',22.1321,'2019-02-05 00:00:00','中国',6.4,2019);",
 "insert into movie_info values('24','海王',20.1307,'2018-12-07 00:00:00','美国',7.6,2018);",
 "insert into movie_info values('25','变形金刚4:绝迹重生',19.7652,'2014-06-27 00:00:00','美国',6.7,2014);",
 "insert into movie_info values('26','前任3:再见前任',19.419,'2017-12-29 00:00:00','中国',5.6,2017);",
 "insert into movie_info values('27','毒液：致命守护者',18.7065,'2018-11-09 00:00:00','美国',7.2,2018);",
 "insert into movie_info values('28','功夫瑜伽',17.4868,'2017-01-28 00:00:00','中国',5.0,2017);",
 "insert into movie_info values('29','飞驰人生',17.2824,'2019-02-05 00:00:00','中国',6.9,2019);",
 "insert into movie_info values('30','阿凡达',17.1507,'2010-01-04 00:00:00','美国',8.8,2010);",
 "insert into movie_info values('31','烈火英雄',17.0685,'2019-08-01 00:00:00','中国',6.4,2019);",
 "insert into movie_info values('32','侏罗纪世界2',16.9591,'2018-06-15 00:00:00','美国',6.7,2018);",
 "insert into movie_info values('33','寻龙诀',16.7988,'2015-12-18 00:00:00','中国',7.4,2015);",
 "insert into movie_info values('34','西游伏妖篇',16.5207,'2017-01-28 00:00:00','中国',5.5,2017);",
 "insert into movie_info values('35','港囧',16.1135,'2015-09-25 00:00:00','中国',5.7,2015);",
 "insert into movie_info values('36','姜子牙',16.0296,'2020-10-01 00:00:00','中国',6.7,2020);",
 "insert into movie_info values('37','少年的你',15.5826,'2019-10-25 00:00:00','中国',8.2,2019);",
 "insert into movie_info values('38','变形金刚5:最后的骑士',15.5126,'2017-06-23 00:00:00','美国',4.9,2017);",
 "insert into movie_info values('39','疯狂动物城',15.319,'2016-03-04 00:00:00','美国',9.2,2016);",
 "insert into movie_info values('40','我和我的父辈',14.7639,'2021-09-30 00:00:00','中国',6.9,2021);",
 "insert into movie_info values('41','魔兽',14.6887,'2016-06-08 00:00:00','美国',7.7,2016);",
 "insert into movie_info values('42','复仇者联盟2:奥创纪元',14.6118,'2015-05-12 00:00:00','美国',7.5,2015);",
 "insert into movie_info values('43','夏洛特烦恼',14.4475,'2015-09-30 00:00:00','中国',7.7,2015);",
 "insert into movie_info values('44','速度与激情：特别行动',14.3495,'2019-08-23 00:00:00','美国',6.3,2019);",
 "insert into movie_info values('45','送你一朵小红花',14.3269,'2020-12-31 00:00:00','中国',7.3,2020);",
 "insert into movie_info values('46','芳华',14.2299,'2017-12-15 00:00:00','中国',7.7,2017);",
 "insert into movie_info values('47','侏罗纪世界',14.1821,'2015-06-10 00:00:00','美国',7.7,2015);",
 "insert into movie_info values('48','蜘蛛侠：英雄远征',14.1767,'2019-06-28 00:00:00','美国',7.7,2019);",
 "insert into movie_info values('49','头号玩家',13.9668,'2018-03-30 00:00:00','美国',8.7,2018);",
 "insert into movie_info values('50','速度与激情9',13.922,'2021-05-21 00:00:00','美国',5.2,2021);",
 "insert into movie_info values('51','后来的我们',13.6155,'2018-04-28 00:00:00','中国',5.9,2018);",
 "insert into movie_info values('52','一出好戏',13.5507,'2018-08-10 00:00:00','中国',7.1,2018);",
 "insert into movie_info values('53','误杀',13.3311,'2019-12-13 00:00:00','中国',7.5,2019);",
 "insert into movie_info values('54','怒火·重案',13.2927,'2021-07-30 00:00:00','中国',7.2,2021);",
 "insert into movie_info values('55','中国医生',13.2823,'2021-07-09 00:00:00','中国',6.9,2021);",
 "insert into movie_info values('56','拆弹专家2',13.1465,'2020-12-24 00:00:00','中国',7.5,2020);",
 "insert into movie_info values('57','扫毒2天地对决',13.1288,'2019-07-05 00:00:00','中国',6.0,2019);",
 "insert into movie_info values('58','泰坦尼克号',13.0615,'1998-04-03 00:00:00','美国',9.4,1998);",
 "insert into movie_info values('59','摔跤吧！爸爸',12.9932,'2017-05-05 00:00:00','印度',9.0,2017);",
 "insert into movie_info values('60','无双',12.7378,'2018-09-30 00:00:00','中国',8.0,2018);",
 "insert into movie_info values('61','人再囧途之泰囧',12.7096,'2012-12-12 00:00:00','中国',7.5,2012);",
 "insert into movie_info values('62','西游·降魔篇',12.4695,'2013-02-10 00:00:00','中国',7.1,2013);",
 "insert into movie_info values('63','碟中谍6:全面瓦解',12.4523,'2018-08-31 00:00:00','美国',8.1,2018);",
 "insert into movie_info values('64','美国队长3',12.4397,'2016-05-06 00:00:00','美国',7.9,2016);",
 "insert into movie_info values('65','哥斯拉大战金刚',12.3257,'2021-03-26 00:00:00','美国',6.3,2021);",
 "insert into movie_info values('66','寻梦环游记',12.3008,'2017-11-24 00:00:00','美国',9.1,2017);",
 "insert into movie_info values('67','西游记之孙悟空三打白骨精',11.9854,'2016-02-08 00:00:00','中国',8.5,2016);",
 "insert into movie_info values('68','悬崖之上',11.902,'2021-04-30 00:00:00','中国',7.6,2021);",
 "insert into movie_info values('69','湄公河行动',11.8685,'2016-09-30 00:00:00','中国',8.0,2016);",
 "insert into movie_info values('70','叶问4:完结篇',11.817,'2019-12-20 00:00:00','中国',6.8,2019);",
 "insert into movie_info values('71','加勒比海盗5:死无对证',11.8007,'2017-05-26 00:00:00','美国',7.2,2017);",
 "insert into movie_info values('72','长城',11.7311,'2016-12-16 00:00:00','中国',4.9,2016);",
 "insert into movie_info values('73','心花路放',11.6958,'2014-09-30 00:00:00','中国',7.2,2014);",
 "insert into movie_info values('74','煎饼侠',11.6018,'2015-07-17 00:00:00','中国',5.8,2015);",
 "insert into movie_info values('75','金刚：骷髅岛',11.5892,'2017-03-24 00:00:00','美国',6.5,2017);",
 "insert into movie_info values('76','大黄蜂',11.4973,'2019-01-04 00:00:00','美国',7.0,2019);",
 "insert into movie_info values('77','金刚川',11.2665,'2020-10-23 00:00:00','中国',6.5,2020);",
 "insert into movie_info values('78','极限特工：终极回归',11.2517,'2017-02-10 00:00:00','美国',5.6,2017);",
 "insert into movie_info values('79','澳门风云3',11.164,'2016-02-08 00:00:00','中国',4.4,2016);",
 "insert into movie_info values('80','生化危机：终章',11.0949,'2017-02-24 00:00:00','美国',6.5,2017);",
 "insert into movie_info values('81','攀登者',11.0406,'2019-09-30 00:00:00','中国',6.0,2019);",
 "insert into movie_info values('82','变形金刚3',10.7095,'2011-07-21 00:00:00','美国',7.2,2011);",
 "insert into movie_info values('83','巨齿鲨',10.5373,'2018-08-10 00:00:00','美国',5.7,2018);",
 "insert into movie_info values('84','乘风破浪',10.4605,'2017-01-28 00:00:00','中国',6.8,2017);",
 "insert into movie_info values('85','西游记之大闹天宫',10.4499,'2014-01-31 00:00:00','中国',4.3,2014);",
 "insert into movie_info values('86','神偷奶爸3',10.3791,'2017-07-07 00:00:00','美国',6.8,2017);",
 "insert into movie_info values('87','刺杀小说家',10.3518,'2021-02-12 00:00:00','中国',6.6,2021);",
 "insert into movie_info values('88','惊奇队长',10.3517,'2019-03-08 00:00:00','美国',6.8,2019);",
 "insert into movie_info values('89','狂暴巨兽',10.0397,'2018-04-13 00:00:00','美国',6.3,2018);",
 "insert into movie_info values('90','盗墓笔记',10.031,'2016-08-05 00:00:00','中国',4.8,2016);",
 "insert into movie_info values('91','功夫熊猫3',10.0054,'2016-01-29 00:00:00','美国',7.7,2016);",
 "insert into movie_info values('92','奇幻森林',9.7684,'2016-04-15 00:00:00','美国',7.8,2016);",
 "insert into movie_info values('93','澳门风云2',9.7263,'2015-02-19 00:00:00','中国',5.6,2015);",
 "insert into movie_info values('94','比悲伤更悲伤的故事',9.5843,'2019-03-14 00:00:00','中国',7.6,2019);",
 "insert into movie_info values('95','西游记之大圣归来',9.5462,'2015-07-10 00:00:00','中国',8.3,2015);",
 "insert into movie_info values('96','哥斯拉2:怪兽之王',9.374,'2019-05-31 00:00:00','美国',6.3,2019);",
 "insert into movie_info values('97','超时空同居',9.0307,'2018-05-18 00:00:00','中国',6.8,2018);",
 "insert into movie_info values('98','老炮儿',9.0116,'2015-12-24 00:00:00','中国',7.6,2015);",
 "insert into movie_info values('99','阿丽塔：战斗天使',8.9693,'2019-02-22 00:00:00','美国',7.5,2019);",
 "insert into movie_info values('100','绝地逃亡',8.8769,'2016-07-21 00:00:00','中国',5.7,2016);"]

In [4]:
# # 确保导演和主演列都是字符串类型
# movie_data['导演'] = movie_data['导演'].fillna('').astype(str)
# movie_data['主演'] = movie_data['主演'].fillna('').astype(str)

# 分离导演和主演数据
directors = movie_data['导演'].str.split('、').explode().dropna().unique()
actors = movie_data['主演'].str.split('、').explode().dropna().unique()

# 合并导演和主演数据，移除重复项，并创建电影人ID
unique_movie_people = pd.Series(np.unique(np.concatenate((directors, actors))))
movie_people_df = pd.DataFrame({'电影人ID': range(1001, 1001 + len(unique_movie_people)), '电影人名称': unique_movie_people})

print(movie_people_df)

     电影人ID    电影人名称
0     1001  D.J.卡卢索
1     1002  F·加里·格雷
2     1003      乌尔善
3     1004   乔·德特杜巴
4     1005     乔·沃茨
..     ...      ...
206   1207      黄志忠
207   1208      黄晓明
208   1209      黄景瑜
209   1210       黄渤
210   1211       黄轩

[211 rows x 2 columns]

In [5]:
# 创建电影-电影人关系表
relationship_records = []

for index, row in movie_data.iterrows():
    movie_id = row['序号']
#     print(row)
    directors = row['导演'].split('、')if pd.notna(row['导演']) else []
    actors = row['主演'].split('、')if pd.notna(row['主演']) else []
#     print(directors,actors)
    # 添加导演关系
    for director in directors:
        if director in unique_movie_people.values and director != '':  # 忽略空字符串或未知导演
            director_id = movie_people_df[movie_people_df['电影人名称'] == director]['电影人ID'].iloc[0]
            relationship_records.append({'电影人ID': director_id, '电影序号': movie_id, '关系': '导演'})

    # 添加主演关系
    for actor in actors:
        if actor in unique_movie_people.values and actor != '':  # 忽略空字符串或未知演员
            actor_id = movie_people_df[movie_people_df['电影人名称'] == actor]['电影人ID'].iloc[0]
            relationship_records.append({'电影人ID': actor_id, '电影序号': movie_id, '关系': '主演'})

movie_people_relationship_df = pd.DataFrame(relationship_records)

# 显示结果
# print(movie_people_df.head())
print(movie_people_relationship_df)

     电影人ID  电影序号  关系
0     1037     1  导演
1     1037     1  主演
2     1093     1  主演
3     1037     2  导演
4     1037     2  主演
..     ...   ...  ..
334   1076    98  主演
335   1149    99  导演
336   1166    99  导演
337   1197   100  导演
338   1087   100  主演

[339 rows x 3 columns]

In [6]:
print(movie_people_relationship_df['关系'].value_counts())

主演    210
导演    129
Name: 关系, dtype: int64

In [9]:
# 创建表结构的SQL语句
create_table_movie_person = '''
Create Table movie_person_info
( 
 movie_person_id varchar(10) Not Null,
 movie_person_name varchar(20) Not Null,
 country varchar(20),
 primary key(movie_person_id)
);
'''
# gender varchar(2),

# 生成INSERT语句
insert_movie_people_statements = [create_table_movie_person]
for index, row in movie_people_df.iterrows():
    movie_person_id = row['电影人ID']
    movie_person_name = row['电影人名称']
    # 假设性别和国籍未知，用'未知'占位
#     gender = '未知'
#     country = '未知'
    # 判断电影人名称中是否包含'·'来决定国籍
    country = '美国' if '·' in movie_person_name else '中国'
    
    insert_movie_people_sql = f"insert into movie_person_info values('{movie_person_id}','{movie_person_name}','{country}');"
    insert_movie_people_statements.append(insert_movie_people_sql)
    
print(insert_movie_people_statements[0:5])
# # 打印生成的SQL语句
# for sql in insert_statements:
#     print(sql)

['\nCreate Table movie_person_info\n( \n movie_person_id varchar(10) Not Null,\n movie_person_name varchar(20) Not Null,\n country varchar(20),\n primary key(movie_person_id)\n);\n', "insert into movie_person_info values('1001','D.J.卡卢索','中国');", "insert into movie_person_info values('1002','F·加里·格雷','美国');", "insert into movie_person_info values('1003','乌尔善','中国');", "insert into movie_person_info values('1004','乔·德特杜巴','美国');"]

In [11]:
# 创建表结构的 SQL 语句
create_table_relation = '''
Create Table movie_actor_relation
( 
 id varchar(10) Not Null,
 movie_id varchar(10) Not Null,
 actor_id varchar(10) Not Null,
 relation_type varchar(20),
 primary key(id),
 foreign Key(movie_id) references movie_info(movie_id),
 foreign Key(actor_id) references actor_info(actor_id)
);
'''

# 生成 INSERT 语句
insert_relation_statements = [create_table_relation]
for index, row in movie_people_relationship_df.iterrows():
    # 生成唯一的 id（这里简单使用索引）
    id = str(index + 1)
    movie_id = str(row['电影序号'])
    actor_id = row['电影人ID']
    relation_type = row['关系']
    
    insert_relation_sql = f"insert into movie_actor_relation values('{id}','{movie_id}','{actor_id}','{relation_type}');"
    insert_relation_statements.append(insert_relation_sql)

print(insert_relation_statements[0:5])

['\nCreate Table movie_actor_relation\n( \n id varchar(10) Not Null,\n movie_id varchar(10) Not Null,\n actor_id varchar(10) Not Null,\n relation_type varchar(20),\n primary key(id),\n foreign Key(movie_id) references movie_info(movie_id),\n foreign Key(actor_id) references actor_info(actor_id)\n);\n', "insert into movie_actor_relation values('1','1','1037','导演');", "insert into movie_actor_relation values('2','1','1037','主演');", "insert into movie_actor_relation values('3','1','1093','主演');", "insert into movie_actor_relation values('4','2','1037','导演');"]

In [14]:
# 定义初始 SQL 语句
initial_statements = [
    "Create Database movie100;\n",
    "go\n",
    "use movie100;\n"
]

# 将所有语句合并为一个列表
all_statements = initial_statements + insert_movie_info_statements + insert_movie_people_statements + insert_relation_statements

# 将所有 SQL 语句写入文本文件
file_path = 'movie100.txt'
with open(file_path, 'w') as file:
    for statement in all_statements:
        file.write(statement + '\n')

###  完成了电影基本信息和电影人关系的SQL语句写入，后续有条件可以增加类型type和对应关系

In [12]:
import pandas as pd
import numpy as np

# 加载数据集
file_path = 'movieMY.xlsx'  # 替换为您的文件路径
label_data = pd.read_excel(file_path, sheet_name='标签')

In [13]:
label_data

,序号,片名,剧情,喜剧,动作,冒险,科幻,历史,战争,动画,奇幻,灾难,悬疑,惊悚,犯罪,爱情,古装,家庭,传记,青春
0,1,长津湖,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,战狼2,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,你好，李焕英,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,哪吒之魔童降世,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,流浪地球,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,96,哥斯拉2:怪兽之王,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,97,超时空同居,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
97,98,老炮儿,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,99,阿丽塔：战斗天使,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,100,绝地逃亡,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
labels = list(label_data.columns[2:])
label_id_name_table = pd.DataFrame({"label_id": range(1, len(labels) + 1), "label_name": labels})
label_id_name_table

    label_id label_name
0          1         剧情
1          2         喜剧
2          3         动作
3          4         冒险
4          5         科幻
5          6         历史
6          7         战争
7          8         动画
8          9         奇幻
9         10         灾难
10        11         悬疑
11        12         惊悚
12        13         犯罪
13        14         爱情
14        15         古装
15        16         家庭
16        17         传记
17        18         青春

In [18]:
# Melting the dataframe to create a long format dataframe for movie ID and label relationships
movie_label_relationship = pd.melt(label_data, id_vars=['序号', '片名'], value_vars=labels, var_name='label_name', value_name='value')
# Filtering out rows where the label is not applicable (i.e., value is 0)
movie_label_relationship = movie_label_relationship[movie_label_relationship['value'] == 1]
# Mapping label names to their IDs
movie_label_relationship = movie_label_relationship.merge(label_id_name_table, on='label_name', how='left')
# Selecting only the necessary columns and converting movie_id to string
movie_label_relationship['序号'] = movie_label_relationship['序号'].astype(str)
movie_label_relationship = movie_label_relationship[['序号', 'label_id']]

movie_label_relationship

     序号  label_id
0     1         1
1     3         1
2     8         1
3    11         1
4    12         1
..   ..       ...
261  66        16
262  14        17
263  59        17
264  70        17
265  37        18

[266 rows x 2 columns]

In [20]:
create_table_label = '''
CREATE TABLE label_table (
    label_id INT PRIMARY KEY,
    label_name VARCHAR(30)
);
'''
create_table_movie_label = '''
CREATE TABLE movie_label_relation (
    movie_id VARCHAR(10),
    label_id INT,
    PRIMARY KEY (movie_id, label_id),
    FOREIGN KEY (label_id) REFERENCES label_table(label_id),
    FOREIGN KEY (movie_id) REFERENCES movie_info(movie_id)
);
'''


insert_statements_label = "INSERT INTO label_table (label_id, label_name) VALUES "
insert_statements_label += ", ".join([f"({row.label_id}, '{row.label_name}')" for index, row in label_id_name_table.iterrows()])


insert_statements_movie_label = "INSERT INTO movie_label_relation (movie_id, label_id) VALUES "
insert_statements_movie_label += ", ".join([f"('{row['序号']}', {row.label_id})" for index, row in movie_label_relationship.iterrows()])


sql_statements = create_table_label + "\n\n" + create_table_movie_label + "\n\n" + insert_statements_label + ";\n\n" + insert_statements_movie_label + ";"


# txtfile_path = 'movie_label_relations.txt'
# with open(txtfile_path, 'w') as file:
#     file.write(sql_statements)

# print(f"SQL statements saved to {txtfile_path}")

In [21]:
# Writing to a text file
txtfile_path = 'movie100.txt'
with open(txtfile_path, 'a+') as file:
    # 将光标移到文件末尾，以防止覆盖已有内容
    file.seek(0, 2)
    
    # 写入新的 SQL 语句
    file.write(sql_statements)

print(f"SQL statements saved to {txtfile_path}")

SQL statements saved to movie100.txt